# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# ChromaDB
# -----------------------------
db/

# -----------------------------
# Uploaded Files
# -----------------------------
data/uploads/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Python Cache
# -----------------------------
.pytest_cache/
.mypy_cache/

# -----------------------------
# Logs
# -----------------------------
*.log
# Distribution / Build
dist/
build/

# Streamlit
.streamlit/secrets.toml

# IDE
.idea/